@import "../../../theme/modules/variables";

.inputContainer {
  > input {
    width: 100%;
    padding: 0 0.4rem;
    box-sizing: border-box;
    line-height: 1.5rem;
    border: 0;
    box-shadow: $inputs-box-shadow;
  }
  .optionContainer {
    display: flex;
    align-items: center;
    span {
      font-size: .85rem;
      font-weight: bold;
      color: $secondary-color;
      margin-left: 1rem;
    }
    &.disabled {
      opacity: .7;
      cursor: not-allowed;
    }
  }
}
